<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCa7jc7Eu0ybpotk66cTYG2Sqdei4jFzRI</string>
	<key>GCM_SENDER_ID</key>
	<string>102356954769</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.locationTracker</string>
	<key>PROJECT_ID</key>
	<string>location-shower-8c2d5</string>
	<key>STORAGE_BUCKET</key>
	<string>location-shower-8c2d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:102356954769:ios:18be5d67dc57a2eb45d930</string>
</dict>
</plist>